
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password</h2>
<hr />
@using (Html.BeginForm())
{
    <span>Email Address : </span>
    <input type="Email" name="Email" required="required" />
    <p></p>
    <input type="submit" value="Submit" class="btn btn-primary" />
    <p></p>
    <span class="lead text-danger">@ViewBag.Message</span>
}

